
html body {
  background-color: gray !important; 
  margin: 0; 
  height: 100vh; 
}



.form-content {
  display: flex;
  position:relative;
  background-color:white;
  align-items: center;
  margin: 5% 20%; 
  font-size: 18px;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 20px; 
}


.btn.btn-primary.btn-lg{
    padding: 5px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 500;
    background-color: #061c64df;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 210px;
    height: 40px;
  }

  .btn.btn-secondary.btn-lg{
    padding: 5px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 500;
    background-color:white;
    border-radius: 8px;
    text-decoration: none;
    color:  rgba(243, 166, 23, 0.929);
    border: solid;
    cursor: pointer;
    width: 210px;
    height: 40px;
  } 

  




/* Reduce font size for specific elements */
.blueText1 {
  font-size: 16px;
  color:#160776e1;
}

p{
  font-size: 16px;
  color:#030953dd
}

.mt-2{
  color:#1eb208f4;
}





.form-select,
/*.form-check,*/
.d-flex {
  padding: 5px; /* Adjust padding as needed */
  font-size: 22px;
}

.form-check{
  font-size: 22px;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color:white; /* Cambia el color del check cuando está seleccionado */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #061c64df; /* Cambia el color del switch cuando está seleccionado */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #061c64df; /* Cambia el color del área vacía del check cuando está seleccionado */
}

.custom-switch .form-check-label {
  color:#030953dd; /* Change the color to your desired color */
}



/* Adjust width for specific elements */
.col-lg-7,
.col-lg-5 {
  width: 70%; 
}

label{
  font-size: 14px;
}

.d-flex.flex-column label{
color: #030953dd;
}